@charset "utf-8";

@font-face{
    font-family: 'Android';
    src:url(../fontes/idroid.otf) format(opentype);
    font-weigth: normal;


}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa886;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --font-padrao: Arial, verdana, helvetica, sans-serif;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c5ebd6;
}
a.externo::after{
    content: '\00a0\1f517';
}

header > h1{
    font-family: 'Android';
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.301);
    font-size: 2em;
    
}

header > p{
    color: white;
    font-family: cursive;
   
}

nav{
    background-color: var(--cor5);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.425);
    padding-bottom: 10px;
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
nav > a:hover{
    background-color: var(--cor4);
    transition-duration: 0.5;
    border-radius: 5px;
    
}

main{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: px0 px0 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 2px;


}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
   
}

main  h1{
    color: var(--cor5);
    font-family: 'Android';
}
main h2{
    font-family: 'Android';
    font-size: 1.3em;
    color: var(--cor4);
    
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
main strong{
    color: var(--cor4);
    padding: 2px 6px;

}
main img{
    width: 100%;
}
main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center
    
    
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.315);
}
aside > h3{
    background-color: #1a5c37;
    padding: 5px;
    margin: -10px -10px -10px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.6em;
}
footer strong{
    color: black;
    background-color: white;
    padding: 5px;
}